@charset "utf-8";

@font-face {
    font-family: 'Oswald';
    src: url('fonts/static/Oswald-Bold.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('fonts/static/Oswald-Light.ttf');
    font-weight: normal;
    font-style: italic;
}

#grid {
    background-image: url(/style/back_img.jpeg);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#nav {
    width: 100%;
    display: flex;
    position: fixed;
    margin: 0;
    padding: 5px;
}
#nav a {
    padding: 10px 12px;
    position: absolute; 
    float:left;
}

#contato {left:6%;}

#empresa {left:12%;}

#adm {right:10%;}

#downloadnav {
    position:relative;
    padding: 10px 12px;
    left: 93%;
}

@media only screen and (max-width: 700px){
    #nav {
        width: 100%;
        display: flex;
        position: fixed;
        margin: 0;
        padding: 5px;
    }
    #nav a {
        font-size: small;
        padding: 5px 6px;
    }
    
    #contato {
        left:25%;
    }
    
    #empresa {
        left:45%;
    }
    
    #adm {  display: none;}
    
    #downloadnav{
        padding: 5px 6px;
        left: 76%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1365px){
    #contato{ left: 13%;}
    
    #empresa{   left:25%}

    #adm{   right: 13%;}

    #downloadnav{   left: 90%;}
}

@media only screen and (min-width: 1366px) and (max-width: 1600px){
    #contato{ left:7%}

    #empresa{ left: 14%;}

    #adm{ right: 8%;}

    #downloadnav{left: 94%;}
}

@media only screen and (min-width:1601px){
    #contato{ left: 6%;}

    #empresa{   left:11%}

    #adm{   right: 6%;}

    #downloadnav{   left:96%}
}

#btnEnviar {
    color: whitesmoke;
}

#div1 {
    position: absolute;
    border-style: none;
    height: 100%;
    width: 50%;
    text-align: justify;
    padding: 50px;
    padding-top: 120px;
    font-size: medium;
    left: 300px;
    text-align: center;
    color: whitesmoke;
}